:root { /*Summer Ocean Breeze*/
    --main-colour: #E63946; /*Desire*/
    --secondary-colour: #f1faee; /*Honeydew*/
    --accent-colour1: #a8dadc; /*Crystal*/
    --accent-colour2: #457b9d; /*Jelly Bean Blue*/
    --accent-colour3: #1d3557; /*Space Cadet*/
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: black;
    background-color: var(--secondary-colour);
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    background-color: var(--accent-colour2);
    color: var(--secondary-colour);
    font-weight: 700;
    padding: 8px;
}

#heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

#site-logo {
    width: auto;
    height: 100px;
    margin-top: -15px;
}

#heading p {
    font-size: 2.2rem;
    white-space: nowrap;
    padding: 0;
}

@media (max-width: 700px) {
    #heading {
        gap: .5rem;
    }

    .logo {
        height: 75px;
    }

    #heading p {
        font-size: 1.4rem;
    }
}

/*Navbar*/
#menu {
    display: block;
    font-size: 2.5rem;
    border: 0;
    margin: 0;
    background: none;
    color: var(--accent-colour1);
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--main-colour);
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: max-height .75s ease-in-out;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 0;
}

.navigation a {
    display: none;
    padding: .5rem;
    text-decoration: none;
    color: var(--secondary-colour);
    width: 100%;  
    text-align: center;
    font-weight: 700;
}

.navigation a:hover {
    background-color: var(--secondary-colour);
    color: var(--main-colour)
}

.open a {
    display: block;
}

.open.navigation {
    border: 2px solid var(--accent-colour1);
    max-height: 300px;
}

/*MAIN*/
h1 {
    margin: 15px;
    margin-top: 10px;
    font-size: 2.5rem;
}

/*Hero*/
#hero {
    width: 100%;
    position: relative;
}

.hero-img {
    width: 100%;
    height: auto;
    border-bottom: 10px solid var(--accent-colour2);
}

#ticket-button {
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: box-shadow .3s ease, transform 1s ease, color .5s ease;
    background-color: var(--main-colour);
    border-color: var(--secondary-colour);
    color: var(--secondary-colour);
}

#ticket-button:hover {
    box-shadow: 4px 4px 4px var(--accent-colour1);
    transform: scale(1.01);
    color: white;
}

/*Events and Weather*/
#events_weather {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin: 0 30px;
}

#events_weather section {
    border: 3px solid var(--accent-colour2);
    background-color: var(--accent-colour1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#events_weather h2 {
    background-color: var(--accent-colour3);
    color: var(--secondary-colour);
    width: 99%;
    text-align: center;
    margin: 0;
    padding: 5px;
}

#events p {
    font-size: 2rem;
    font-weight: 700;
}

.stat-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather-icon {
    text-align: center;
    font-size: 10rem;
    padding: 0;
    margin: 0;
}

#weather-stats, #forecast {
    font-weight: 500;
}

.temp {
    font-size: 1.5rem;
}

#forecast {
    font-size: 1.5rem;
}

/*MEMBERS*/
#members-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--accent-colour3);
    color: var(--secondary-colour);
    font-size: 1.25rem;
    margin: 30px 10px 15px 10px;
    border-radius: 45px;
}

.display-type {
    margin: 0;
    padding: 15px;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--secondary-colour);
    cursor: pointer;
}

.display-type.display {
    background-color: var(--main-colour);
    color: var(--secondary-colour);
}

#grid {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
}

#list {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
}

/*Buisness Cards*/
/*default view*/
#business-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
    width: 350px;
    height: 300px;
    background-color: var(--accent-colour1);
    color: black;
    font-weight: 500;
    border: 5px solid var(--accent-colour2);
    transition: box-shadow .25s ease, transform .25s ease;
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0 0 5px var(--accent-colour3);
}

.logo {
    width: 300px;
    height: auto;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 100%;
    height: auto;
}

.name {
    padding: 0;
    margin: 10px;
    font-size: 1.5rem;
}

.card p {
    margin: 2px;
    padding: 0;
}

.level {
    font-weight: 700;
}

/*list view*/
.list-view {
    flex-direction: column;
    align-items: center;
}

.list-view .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 50px;
    border-left: none;
    border-right: none;
}

.list-view .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: start;
    width: 99%;
    margin-left: 10px;
}

.list-view h3, .list-view p {
    margin: 0;
    padding: 0;
    white-space: normal;
    word-break: break-word;
    text-align: left;
}

.list-view h3 {
    font-size: 1rem;
}

.list-view p {
    font-size: .8rem;
}

.list-view .logo, .list-view img {
    display: none;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--accent-colour3);
    color: var(--secondary-colour);
    margin-top: 30px;
    padding: 5px;
}

footer p {
    margin-left: 15px;
}

#socials {
    display: flex;
    justify-content: space-around;
}

#socials img {
    width: 100px;
    height: auto;
}