:root { /*Summer Ocean Breeze*/
    --main-colour: #E63946; /*Desire*/
    --secondary-colour: #f1faee; /*Honeydew*/
    --accent-colour1: #a8dadc; /*Crystal*/
    --accent-colour2: #457b9d; /*Jelly Bean Blue*/
    --accent-colour3: #1d3557; /*Space Cadet*/
}

main {
    display: flex;
    flex-direction: column;
}

/*------------------CARDS*/
#place-cards {
    display: grid;
    justify-items: center;
}

.card {
    border: 5px solid var(--accent-colour3);
    width: 400px;
    margin-bottom: 30px;
    background-color: var(--main-colour);
    color: var(--secondary-colour);

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "title"
    "photo"
    "description"
    "address"
    "button";
}

.title {
    grid-area: title;
    font-size: 1.6rem;
    text-align: center;
}

.photo {
    grid-area: photo;

    width: 100%;
    border-top: 5px solid var(--accent-colour3);
    border-bottom: 5px solid var(--accent-colour3);
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
}


.photo, img {
    margin: 0;
    padding: 0;
    max-height: 267px;
    max-width: 400px;
}

.description {
    grid-area: description;
    margin: 10px;
}

.address {
    grid-area: address;
}

.learn-more {
    grid-area: button;

    cursor: pointer;
    width: 80%;
    height: 50px;
    margin: 20px;
    font-size: 1.7rem;
    border-radius: 8px;
    background-color: var(--secondary-colour);
}

.learn-more:hover {
    background-color: var(--accent-colour1);
}
/*---------------------------------*/
/*---------------------LAST VISITED*/
#visited-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#lastVisited {
    text-align: center;
    font-size: 1.6rem;
    border: 3px solid var(--main-colour);
    width: 400px;
    padding: 10px 100px;
    background-color: var(--accent-colour3);
    color: var(--secondary-colour);
    font-weight: 600;
}