/*Hero*/
#hero {
    width: 100%;
    position: relative;
}

.hero-img {
    width: 100%;
    height: auto;
    border-bottom: 10px solid var(--accent-colour2);
}

#ticket-button {
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: box-shadow .3s ease, transform 1s ease, color .5s ease;
    background-color: var(--main-colour);
    border-color: var(--secondary-colour);
    color: var(--secondary-colour);
}

#ticket-button:hover {
    box-shadow: 4px 4px 4px var(--accent-colour1);
    transform: scale(1.01);
    color: white;
}

/*Events and Weather*/
#events_weather {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin: 0 30px;
}

#events_weather section {
    border: 3px solid var(--accent-colour2);
    background-color: var(--accent-colour1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#events_weather h2 {
    background-color: var(--accent-colour3);
    color: var(--secondary-colour);
    width: 99%;
    text-align: center;
    margin: 0;
    padding: 5px;
}

#event-info, #forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#events p {
    font-size: 1.1rem;
    margin: 20px 15px;
}

.stat-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#icon-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather-icon {
    transform: scale(1.25);
}

#weather-stats, #forecast {
    font-weight: 500;
}

#current-temp {
    font-size: 2rem;
}

#description {
    font-weight: 700;
    text-transform: uppercase;
}

#forecast {
    font-size: 1.5rem;
}

/*SPOTLIGHT*/
#spotlight-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--accent-colour3);
    color: var(--secondary-colour);
    font-size: 1.25rem;
    margin: 30px 10px 15px 10px;
    border-radius: 45px;
}