@media (min-width: 1100px) {
    /*MAIN*/
    #events_weather section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #events_weather {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin: 0 10px;
    }

    .weather-icon {
        font-size: 6rem;
    }
}