@media (min-width: 1100px) {
    #heading {
        margin-bottom: -15px;
        padding: 10px;
    }
    
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-height: none;
        padding: 0;
        gap: 20px;

    }

    .navigation a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        color: var(--secondary-colour);
        padding: 10px;
        font-weight: 600;
        font-size: 1.2rem;
    }

    #discover {
        padding-right: 20px;
    }

    /*MAIN*/
    h1 {
        font-size: 3rem;
    }

    #events_weather section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #events_weather {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin: 0 10px;
    }

    .weather-icon {
        font-size: 6rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 15px;
    }

    #socials {
        gap: 30px;
    }
}