@media (min-width: 800px) {
    #heading {
        margin-bottom: -15px;
    }
    
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-height: none;
        padding: 0;
        margin-left: 15px;
        margin-top: 15px;
        gap: 20px;
    }

    .navigation a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        color: var(--accent-colour2);
        padding: 10px;
        font-weight: 700;
    }

    /*ABOUT STUDENT*/
    #about-student {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    /*COURSES*/
    .two {
        grid-template-columns: 1fr 1fr 1fr;
    }
}