:root {
    --main-colour: #3338A0; /*Blue (Pigment)*/
    --secondary-colour: #C59560; /*Brown Yellow*/
    --accent-colour1: #FCC61D; /*Deep Lemon*/
    --accent-colour2: #F7F7F7; /*Cultured*/
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: black;
    background-color: var(--accent-colour2);
}

/*HEADER*/
#heading {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 15px;
}

#heading p {
    font-weight: 700;
    font-size: 1.8rem;
}

.logo {
    width: 75px;
    height: auto;
}

h1 {
    padding-left: 15px;
    margin: 0;
    margin-top: 5px;
    font-size: 2.2rem;
}

#menu {
    display: block;
    font-size: 2.5rem;
    border: 0;
    margin: 0;
    background: none;
    color: var(--accent-colour1);
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--main-colour);
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: max-height .75s ease-in-out;
    overflow: hidden;
    position: static;
    top: 50px;
    left: 0;
    width: 100%;
    max-height: 0;
}

.navigation a {
    display: none;
    padding: .5rem;
    text-decoration: none;
    color: white;
    width: 100%;  
    text-align: center;
    font-weight: 700;
}

#home a, .navigation a:hover {
    background-color: var(--secondary-colour);
}

.open a {
    display: block;
}

.open.navigation {
    border: 2px solid var(--accent-colour1);
    max-height: 300px;
}

#navbar {
    background-color: var(--main-colour);
}

/*MAIN*/
section, dialog {
    border: 3px solid var(--main-colour);
    margin: 15px;
    background-color: var(--secondary-colour);
    font-weight: 700;
}

h2 {
    text-align: center;
    background-color: var(--main-colour);
    color: var(--accent-colour2);
    margin: 0 auto;
    padding: 3px;
}

.paragraph {
    margin: 10px;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.photo {
    width: 475px;
    height: auto;
    border: 2px solid var(--accent-colour1);
    overflow: hidden;
}

/*COURSES*/
#courses {
    background-color: var(--accent-colour2);
    border: none;
}

.row {
    display: grid;
}

.row div, dialog button {
    text-align: center;
    border: 2px solid var(--accent-colour1);
    background-color: var(--secondary-colour);
    margin: 5px;
    color: black;
    cursor: pointer;
}

.one {
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 700;
    font-size: 1.15rem;
    cursor: pointer; 
}

.group.displaying {
    background-color: var(--main-colour);
    color: var(--accent-colour2);
}

.group:hover {
    color: var(--accent-colour2);
}

.group, dialog button{
    padding: 10px;
    border-radius: 10px;
}

.two {
    font-weight: 500;
}

.two div {
    padding: 3px;
}

.two div.completed {
    background-color: var(--accent-colour1);
    border: 2px solid var(--secondary-colour);
}

#courses p {
    text-align: center;
    margin: 3px;
}

/*FOOTER*/
footer {
    width: 100%;
    text-align: center;
    background-color: var(--main-colour);
    color: var(--accent-colour1);
    font-weight: 600;
    padding: 1px;
    width: 100%;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 8px;
}

.social {
    height: 3.5rem;
    width: auto;
}

#lastModified {
    font-size: small;
}

/*MODAL INTERFACE*/
dialog {
    border-radius: 10px;
}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
    font-weight: 700;
    background-color: var(--accent-colour1);
}

dialog button:hover {
    color: var(--accent-colour2);
}